{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% import "bootstrap/fixes.html" as fixes %}
{% import "bootstrap/utils.html" as util %}

{% block html_attribs %} ng-app="app"{% endblock %}

{% block title %}Twiki{% endblock %}

{% block head %}
{{ super() }}
<link rel="shortcut icon" href="{{url_for('static', filename='favicon.ico')}}" type="image/x-icon">
<link rel="icon" href="{{url_for('static', filename='favicon.ico')}}" type="image/x-icon">
{% endblock %}

{% block scripts %}
    {{super()}}
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular-messages.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/annyang/2.1.0/annyang.min.js"></script>
    <script src="{{ url_for('static', filename='js/app.js') }}"></script>
    <script>
        var tweet_url = "{{ url_for('backend.tweets') }}";
        var title_url = "{{ url_for('backend.titles') }}";
        var page_url  = "{{ url_for('backend.page') }}"; 
    </script>

    annyang.start();
{% endblock %}
